@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

body {
  color: #333;
  background: #f5f6f7;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC,
    Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
li {
  @apply list-none;
}
@media (min-width: 1920) {
  #home-card {
    @apply w-1/4;
  }
}

/** 文章 **/
#post_content p {
  @apply text-sm leading-6 sm:text-base sm:leading-7;
}
#post_content img {
  @apply max-w-full rounded;
}
#post_content a {
  @apply text-blue-600 hover:text-blue-400 transition duration-200 ease-in-out;
}
#post_content h1 {
  @apply text-5xl;
}
#post_content h2 {
  @apply text-4xl;
}
#post_content h3 {
  @apply text-3xl;
}
#post_content h4 {
  @apply text-2xl;
}
#post_content h5 {
  @apply text-xl;
}
#post_content h6 {
  @apply text-lg;
}

/** 后台 header **/
#admin-header span:not(:first-child) {
  @apply md:border-l md:border-gray-200 md:pl-6;
}

/* purgecss end ignore */
